body{
    padding: 0;
    margin: 0;
  }
  *{
  box-sizing: border-box;
  }
  .header {
    width: 100%;
    margin: 0%;
    padding: 0%;
    background: #496DDB;
    display: flex;
    justify-content: space-around;
  }
  .headertitle {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: -1130px;
  }
  a{
    font-size: x-large;
    margin-left: 10px;
  }
  input{
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
    width: 300px;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 8, 7, .5);
  }
  button {
    margin-top: 17px;
    padding: 5px 10px;
    border: none;
    transition: all 0.2s linear;
    color: #FFEEDB;
    background-color: rgba(0, 8, 7);
  }
  button:hover:not(:disabled) {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #FFEEDB;
    color: rgba(0, 8, 7);
  }
   button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  select{
    font-size: large;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
  }
  p{
    padding: 0;
    margin: 0;
    font-size: xx-large;
  }
  .main{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
  }
  .search{
    display: flex;
    gap: 20px;
    width: fit-content;
    margin-left: 30px;
  }
  .search-box-button{
    font-size: x-large;
  }
  .mylist{
    width: fit-content;
    height: fit-content;
    padding: 5px;
  }
  .list{
    border: 2px solid black;
  }
  .app-name{
    text-align: center;
  }
  .list-div{
    display: flex;
    flex-direction: column;
  }
  .list-div button{
    width: fit-content;
    margin-top: 20px;
   padding: 5px;
  }
  .list-div a{
    width: fit-content;
    margin-top: 20px;
  }
  h5{
    font-size: 20px;
    margin-left: 30px;
  }
  